
{{#foreach posts visibility="all"}}
<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  <h2 class="!my-0 pb-1 !leading-none">{{{title}}}</h2>
  <time class="text-sm opacity-60">{{date format="YYYY-MM-DD"}}</time>
  <a class="absolute inset-0" href="{{url}}"></a>
</section>
{{/foreach}}