<!DOCTYPE html>
<html lang="{{@site.locale}}" 
class="not-ready text-sm lg:text-base"
style="--bg: {{@custom.bg_color}}">
<head>
    {{> "head"}}

  <body class="text-black duration-200 ease-out dark:text-white">
    {{> "header" }}
    <main
      class="prose prose-neutral relative mx-auto min-h-[calc(100%-10rem)] max-w-3xl px-8 pt-20 pb-32 dark:prose-invert"
    >
    {{{body}}}
    </main>

  </body>
</html>

