pre code.hljs{
  padding: 0;
  background-color: transparent;
}


/* ==========================================================================
   KG Cards
   ========================================================================== */

.figure figcaption {
  position: relative;
  color: var(--color-content-secondary);
  max-width: $inner;
  margin: auto;
  font-size: 0.75em;
  line-height: 2em;
  padding: 2rem 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8rem;
    height: 1px;
    background: var(--color-background-contrast);
  }

  a {
    box-shadow: inset 0 -1px 0 var(--color-background-contrast);

    &:focus,
    &:hover {
      box-shadow: inset 0 -2px 0 var(--color-background-contrast);
    }
  }
}

/**********memos*********/
.talks {
  margin-left: 0 !important;
  padding-left: 0 !important;
  li:before {
    content: '' !important;
  }
  .timeline {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 1.5em;
  }
  .talks__avatar {
    -ms-flex-negative: 0;
    border-radius: 40px;
    flex-shrink: 0;
    height: 40px;
    margin: 10px 10px 0 0;
    overflow: hidden;
    width: 40px;
  }
  .talks__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    .talks__text {
      background: #4a4b50;
      border-radius: 8px;
      font-size: 1em;
      padding: 12px 16px;
      position: relative;
      p {
        margin: 0;
      }
      .talks__userinfo {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 700;
      }
      .talks__imgs {
        margin-top: 0.5rem;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 0.25rem;
        scrollbar-width: none;
        margin-right: 0.5rem;
        height: auto;
        width: auto;
        flex-shrink: 0;
        flex-grow: 0;
        overflow-y: hidden;

        img {
          max-height: 10rem;
          width: auto;
          border-radius: 0.5rem;
          margin: 0 0.2rem 0 0;
        }
      }
    }
    .talks__meta {
      .talks__date {
        color: #8186a2;
        font-size: 0.8em;
        font-weight: 500;
      }
    }
  }
}

/*-------toc---------*/
.is-position-fixed {
  position: fixed !important;
  top: 80px !important;
}
.post-toc {
  right: calc((100% - 128rem - 4rem) / 2);
  top: 0;
  z-index: 90;
  width: 280px;
  padding-left: 40px;
  overflow: hidden;
  min-width: auto;
  position: absolute;
  color: var(--color-content-secondary);
  font-size: 0.8em;
  line-height: 2em;
  .toc-link::before {
    content: none;
  }
  .is-active-link {
    color: var(--ghost-accent-color);
  }
  ul {
    margin: auto;
  }
  a {
    text-decoration: auto;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.kg-callout-card {
  .kg-callout-text {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}

.kg-card {
  margin: 0 0 4rem;
}

.kg-header-card,
.kg-video-card.kg-width-full {
  max-width: calc(72rem + 100vw) !important;
  width: calc(100vw - 4rem);
}

// KG File

.kg-file-card {
  .kg-file-card-container {
    padding: 2.5rem;
    background: var(--color-background-secondary);
    border: 1px solid var(--color-background-contrast);

    .kg-file-card-icon {
    }

    .kg-file-card-contents {
      margin: 0;

      .kg-file-card-title {
        font-size: 2rem;
        line-height: 1.25em;
      }

      .kg-file-card-caption {
        margin: 0.25rem 0 0;
        font-size: 0.9em;
        line-height: 1.25em;
        opacity: inherit;
        color: var(--color-content-secondary);
      }

      .kg-file-card-metadata {
        margin: 1.5rem 0 0;

        .kg-file-card-filename {
          display: inline-block;
          line-height: inherit;
        }
        .kg-file-card-filesize {
          display: inline-block;
          font-size: 0.9em;
          line-height: inherit;
          opacity: inherit;
          color: var(--color-content-secondary);
        }
      }
    }
  }
}

// KG Image

.kg-image-card {
  max-width: none !important;

  &.kg-width-wide {
    max-width: calc(72rem + 24vw) !important;
    min-width: 100%;
    width: calc(100vw - 4rem);

    figcaption {
      padding-left: 6rem;
      padding-right: 6rem;
      @media only screen and (max-width: $breakpoint-medium) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      &:after {
        margin-left: 6rem;
        @media only screen and (max-width: $breakpoint-medium) {
          margin-left: 2rem;
        }
      }
    }
  }

  &.kg-width-full {
    max-width: none;
    width: 100vw;
    margin-top: 2em;

    figcaption {
      padding-left: 8rem;
      padding-right: 8rem;
      @media only screen and (max-width: $breakpoint-medium) {
        padding-left: 4rem;
        padding-right: 4rem;
      }

      &:after {
        margin-left: 8rem;
        @media only screen and (max-width: $breakpoint-medium) {
          margin-left: 4rem;
        }
      }
    }
  }

  .kg-image {
    margin: 0 auto;
  }

  .kg-image-full + figcaption {
    margin-bottom: 1.33334em;
  }
}

// KG Gallery

.kg-gallery-card {
  max-width: calc(72rem + 24vw) !important;
  min-width: 100%;
  width: calc(100vw - 4rem);

  figcaption {
    padding-left: 6rem;
    padding-right: 6rem;
    @media only screen and (max-width: $breakpoint-medium) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &:after {
      margin-left: 6rem;
      @media only screen and (max-width: $breakpoint-medium) {
        margin-left: 2rem;
      }
    }
  }
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

// KG Embed

.kg-embed-card {
  margin: 0 0 4rem;

  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

// KG Code

.kg-code-card {
  min-width: 100%;
}

.kg-code-card pre {
  margin: 0;
}

// KG Bookmark

.kg-bookmark-card {
  width: 100%;
}

.kg-bookmark-container {
  display: flex;
  text-decoration: none;
  min-height: 8em;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-background-contrast);
  box-shadow: none !important;
  overflow: hidden;
}

.kg-bookmark-content {
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: start;
  padding: 1.5em;
  color: var(--color-content-secondary);
}

.kg-bookmark-title {
  color: var(--color-content-main);
  font-size: 0.75em;
  line-height: 1.66667em;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.kg-bookmark-description {
  display: -webkit-box;
  font-size: 0.75em;
  line-height: 1.66667em;
  font-weight: 400;
  margin-top: 0.33334em;
  max-height: 3.33334em;
  overflow-y: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
}

.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kg-bookmark-metadata {
  text-rendering: optimizeLegibility;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  line-height: 1.66667em;
  color: var(--color-content-main);
  font-weight: 400;
  margin-top: 1em;
  flex-wrap: wrap;
}

.kg-bookmark-icon {
  width: 1.33334em;
  margin: 0 0.75em 0 0;
}

.kg-bookmark-author:after {
  content: '•';
  margin: 0 0.33334em;
}

.kg-bookmark-publisher {
  color: var(--ghost-accent-color);
}
@media (max-width: $breakpoint-medium) {
  .kg-bookmark-container {
    flex-direction: column;
  }

  .kg-bookmark-thumbnail {
    order: 1;
    width: 100%;
    min-height: 160px;
  }

  .kg-bookmark-thumbnail img {
    border-radius: 3px 3px 0 0;
  }

  .kg-bookmark-content {
    order: 2;
  }
}

// KG Toggle

.kg-toggle-card {
  background: var(--color-background-secondary);
  box-shadow: inset 0 0 0 1px var(--color-background-contrast);
  border-radius: 3px;
  padding: 2.5rem;
}
.kg-toggle-card + .kg-toggle-card {
  margin-top: calc(-4rem - 1px);
}
.kg-toggle-card {
  .kg-toggle-content {
    p,
    ol,
    ul {
      font-size: inherit;
      line-height: inherit;
      margin-top: 1rem;
    }
  }
}
